<section class="stats">
  <h1>Statistics</h1>
  <h5>Avg Age: <%= @avg_age %></h5>
  <h5>Avg Special Length: <%= @avg_length.round(2) %></h5>
  <h5>Unique Cities: <%= @city_list.join(", ") %></h5>
</section>

  <div class="card">
    <h1>Comedians</h1>
    <% @comedians.each do |comedian| %>
      <%= tag.div id: "comedian-#{comedian.id}" do %>
        <h2> <%= comedian.name %> </h2>
        <%= comedian.age %>
        <%= comedian.city %>
        <h3>Specials</h3>
        <% comedian.specials.each do |special| %>
          <%= special.name %>
          <%= special.length %>
          <img class="thumbnail" src="<%= special.image %>"/>
        <% end %>
      <% end %>
    <% end %>
  </div>
