
<div class="alert alert-secondary" role="alert">
  <h4>Statistics</h4>
  <p>Avg Age: <%= @comedians.avg_age %> |
    Avg Special Length: <%= @comedians.specials_avg_length %> |
    Total TV Specials: <%= @comedians.specials_count %> |
    Total Comedians: <%= @comedians.comedian_count %> </p>
  <p>Unique Cities: <%= @comedians.city_list.join(", ") %></p>
</div>

<div class="card" style="width: 90rem;">
  <div class="card-body">
    <h3 class="card-title">Comedians</h3>
    <% @comedians.each do |comedian| %>
    <div class="card">
      <%= tag.div id: "comedian-#{comedian.id}" do %>
        <h4> <%= link_to comedian.name, comedian_path(comedian.id) %> </h4>
        <% form_for :favorite, url: favorites_users_path do |f| %>
            <%= f.hidden_field :user, value: current_user %>
            <%= f.hidden_field :comedian, value: comedian %>
            <%= f.submit "Favorite" %>
        <% end %>
        <%= link_to "Favorite", favorites_users_path(user: :current_user, comedian: comedian) %>

        <p class="card-text">Age: <%= comedian.age %> |
        City: <%= comedian.city %> |

        TV Specials: <%= comedian.specials_count %></p>
        <h5>Specials</h5>
        <% comedian.specials.each do |special| %>
          <div><img class="thumbnail" src="<%= special.image %>"/>
            <p>Name: <%= special.name %> |
            Length:  <%= special.length %></p>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
