<h1>Comedians</h1>
<section id: "comedian-#{comedian.id}">
<% @comedians.each do |comedian| %>
<% binding.pry %>
<%= comedian.name %>
<%= comedian.age %>
<%= comedian.city %>
  <% comedian.specials.each do |special| %>
  <%= special.name %>
  <%= special.length %>
  <%= special.image %>
</section>
  <% end %>
<% end %>
