<h1>Create a New Comedian</h1>
<% if @comedian.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comedian.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ul>
    <% @comedian.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @comedian do |f| %>
<%= f.label :name %>
<%= f.text_field :name, required: true %>
<%= f.label :age %>
<%= f.number_field :age %>
<%= f.label :city %>
<%= f.text_field :city %>
<%= f.submit %>
<% end %>
